// z-index
$z-index-alert: 9999;
$z-index-header: 10;
$z-index-login-m: 11;
$z-index-login-pc: 9;

// screen
$min-pc: 1201px;
$max-t: 1200px;
$max-m: 768px;
$min-t: 769px;

// container
$container: 1085px;

//color
$pure-white: #ffffff;
$transparent: rgba(0,0,0,0);
$lc-main-white: #fafafa;
$little-gray: #fafafa;
$lit-gray: #f5f5f5;
$light-periwinkle: #e5e0df;
$theme-color: #ff720d;
$sub-theme-color: #ffce3b;
$blur-theme-color: rgba(255, 114, 13, 0.51);
$main-font-color: #453422;
$sub-font-color: #87827e;
$brown-grey: #888;
$pale-grey: #f5f5f9;
$selling-slash-color:#c9c5c4;